<div class="sign-outline">
    <div class="col-md-6">
        <h2 class="text-center">Sign In</h2>
        <hr/>
        <form [formGroup]="signInForm" (ngSubmit)="submit()">
            <div class="form-group" [ngClass]="{'has-error': formErrors.userId}">
                <label for="">ID</label>
                <input type="text" class="form-control" formControlName="userId">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" formControlName="password">
            </div>
            <span *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</span>                
            <span *ngIf="formErrors.userId" class="alert alert-danger">{{formErrors.userId}}</span>
            <div *ngIf="errorResponse?.message" class="alert alert-danger">
                {{errorResponse?.message}}
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>